@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-primary-dark: #1e3a8a;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
}
